<!DOCTYPE html>
<html>

  <head>
    <title>ADMIN CONSOLE</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="stylesheet" href="stylesheets/style.css">

	<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.2.1/vue.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
	
	<script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
	<script type="text/javascript" src="scripts/main.js"></script>
  </head>

  <body onload="startPageInit();">
    <table>
      <tr>
        <td style= "width:30%;">
		  <h1 id="message">ADMIN CONSOLE</h1>
          <img class = "newappIcon" src="images/newapp-icon.png">
        </td>
        <td>
			<h1 id="message">TOKENS</h1>
			<div id="TelegramBotApiTokenDiv">
			<!--form id="BotApiTokenForm" action="/SaveOrUpdateTelegramBotApiToken" method="POST"-->
				<table>
					<tr>
						<td>
							<input class="field-long" type="text" id="TelegramBotApiTokenId" name="TelegramBotApiToken" placeholder="Enter your BOT API Token" value="<%-TelegramBotApiToken%>" />
							<a href="#" class="tokenSaveConfirmStyle" onclick="onSaveOrUpdateTelegramBotApiToken();">OK</a>
							<!--input type="submit" value="Save/Update BOT API Token"/-->
						</td>
					</tr>
					<tr>
						<td><label id="SaveOrUpdateTelegramBotApiTokenResult"/></td>
					</tr>
				</table>
			<!--/form-->
			</div>
			<!--<p class='description'></p> Owner: Sharanin V.N. <span class = "blue">(2017)</span>.-->
        </td>
      </tr>
	  <tr>
		<td />
		<td>
			<h1 id="message">MEETS</h1>
			<a href="#" onclick="showSaveMeetForm();">Create</a>/<a href="#" onclick="showUpdateMeetForm();">Update</a>
			<div id="MeetsDiv">
				<table>
					<tr>
						<td><input class="field-long" type="text" id="MeetNameId" name="MeetName" placeholder="Enter event name" value="" /></td>
						<!--td rowspan="4"><a href="#" class="meetSaveConfirmStyle" onclick="onSaveNewMeet();">OK</a></td-->
					</tr>
					<tr>
						<td><input class="field-long" type="text" id="MeetDateStartId" name="MeetDateStart" placeholder="Enter datetime start of meet" value="" /></td>
					</tr>
					<tr>
						<td><input class="field-long" type="text" id="MeetDateEndId" name="MeetDateEnd" placeholder="Enter datetime end of meet" value="" /></td>
					</tr>
					<tr>
						<td>
							<div id="saveMeetForm">
								<a href="#" class="meetSaveConfirmStyle" onclick="onSaveMeet();">CREATE</a>
							</div>
							<div id="updateMeetForm">
								<input type="hidden" id="MeetId" name="MeetId" value="" />
								<a href="#" class="meetSaveConfirmStyle" onclick="onUpdateMeet();">UPDATE</a><br/>
								<a href="#" class="meetSaveConfirmStyle" onclick="onDeleteMeet();">DELETE</a><br/>
								<a href="#" class="meetSaveConfirmStyle" onclick="onNextMeet();">NEXT</a><br/>
							</div>
						</td>
					</tr>
				</table>
			</div>
			<label id="MeetOperationResult"/>
		</td>
	  </tr>
    </table>
  </body>
</html>
<!-- just json and ajax: https://metanit.com/web/nodejs/4.6.php -->
<!-- EJS: https://metanit.com/web/nodejs/4.10.php -->
<!-- ajax: https://metanit.com/web/nodejs/4.11.php -->
